@font-face{
    font-family: "pixelf";
    src: url("smw.ttf") format("truetype");
}

body{
    color:rgb(255, 229, 146);
    margin: 0;
    background: rgb(0, 0, 0);
    text-align: center;
    font-family: pixelf, sans-serif;
    font-size: xx-large;
    background-image: url("bgi.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover; 
}
